  
.mission_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 10%;
    max-height: 50vh;
    width: 90vh;
    border: 10px solid rgba(15, 177, 218, 0);
}
  
.mission_element{
  height: 32vh;
  width: 80%;
  border: 10px solid rgb(22, 170, 207);
}

.column{
  height: 100vh;
}
.column[type=colm_35]{
  border-right: 10px solid rgb(250, 47, 233);
  width: 35%;
  
}
.column[type=colm_65]{
  padding-left: 100px;
  width: 65%;
  
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.th, td {
  text-align: left;
  width: 33vh;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

text_title[type=mission]{
  
  display: flex;
  height:186px;
  padding: 50px 0px 0px 50px;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  color: purple;
}
text_title1{
  display: flex;
  
  height:186px;
  width: 75vh;
  padding: 50px;
  padding-left: 50px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: purple;

}