.report_form_container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-color: blueviolet;
    border-radius: 20px;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 20%;
    width: 65%;
    padding: 70px;
    padding-top: 30px;
}

h1[type=report_heading]{
    text-align: center;
    padding-bottom: 50px;
    font-size: 3vw;
}

.report_form_row::after{
    content: "";
    display: table;
    clear: both;
}

.report_form_cols_name{
    float: left;
    width: 25%;
    margin-top: 6px;
    font-size: 20px;
}

.report_form_cols_input{
    float: left;
    width: 75%;
    margin-top: 6px;
}

input[type=report_input], 
select[type=report_type], 
textarea[type=report_discription]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 15px;
}
.report_submit{
    background-color:rgb(181, 0, 236);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 8px 13px;
    color: white;;
    float: right;
    font-size: 15px;
}