
.profile_img {
    display: flex;
    border-radius: 50%;

}
.profile_row::after{
    content: "";
    display: table;
    clear: both;
}
.profile_colm25{

    height: 100px;
    float: left;        
    width: 35%;
    text-align: left;

}
input[type=submit] {
    margin-bottom: 20px;
    background-color: #de2ee4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #b934b9;
  }
.profile_colm75{

    float: left;    
    width: 55%;
    height: 10%;
}
.profile_detail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3% 10% 0 13%;
    padding: 5% 0 5% 10%;
    border: 2px solid rgb(176, 176, 177);
    border-radius: 15px;
    right: 13%;
    min-height: 400px;
    text-align: left;
    min-width: 10%;
}