.app{
  min-height: 100vh;
  background:white;

}


.active{
  opacity: 0;
}




.body{
  background-color: rgba(219, 18, 219, 0);
  margin-left:80px;
  width: 94%;
  top: 0;
  min-height: 100vh;
  align-items: center;
}




.column {
  
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




